<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kit.fontawesome.com/86bfd4f27e.js" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/searchJobView.css">
    <title>Search - Apply - Get Hired</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1 class="heading">Search - Apply - Get Hired</h1>
        <div class="form-container">
            <form action="/search-job/result" method="get">
                <input type="text" class="input-style" name="job" placeholder="Job title, keyword or company">
                <input type="text" class="input-style" name="location" placeholder="City, state or country">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div>
            <img src="/pexels-andrea-piacquadio-3760368.jpg" alt="bg-image" class="bg-image">
        </div>
    </div>
</body>
</html>
